{{- if not .Values.service.external.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "pritunl-zero.fullname" . }}
  labels:
    {{- include "pritunl-zero.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 443
      targetPort: https
      protocol: TCP
      name: https
  selector:
    {{- include "pritunl-zero.selectorLabels" . | nindent 4 }}
{{- end }}

